<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button shape="round" fill="outline" color="danger">1</ion-button>
  <ion-button shape="round" fill="outline" color="danger">3</ion-button>
  <ion-button shape="round" fill="outline" color="danger">6</ion-button>
  <ion-button shape="round" fill="outline" color="danger">9</ion-button>
  <ion-button shape="round" fill="outline" color="danger">12</ion-button>
  </ion-content>
