<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Marcador de Truco </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="imagem"></div>

    <ion-footer>
      <ion-toolbar color="dark">
        <h1 class="ion-text-center">Valendo: </h1>
      </ion-toolbar>
    </ion-footer>

  <ion-row>
    <ion-col>
      <ion-fab-button shape="round" fill="solid" color="danger" size="small"
        >1</ion-fab-button
      >
    </ion-col>
    <ion-col>
      <ion-fab-button shape="round" fill="solid" color="danger" size="small"
        >3</ion-fab-button
      >
    </ion-col>
    <ion-col>
      <ion-fab-button shape="round" fill="solid" color="danger" size="small"
        >6</ion-fab-button>
    </ion-col>
    <ion-col>
      <ion-fab-button shape="round" fill="solid" color="danger" size="small"
        >9</ion-fab-button
      >
    </ion-col>
    <ion-col>
      <ion-fab-button shape="round" fill="solid" color="danger" size="small"
        >12</ion-fab-button
      >
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="column">
      <ion-row class="row-center">
        <ion-button shape="round" fill="solid" color="dark">+</ion-button>
      </ion-row>
      <ion-row class="row-center">
        <ion-label>0</ion-label>
      </ion-row>
      <ion-row class="row-center">
        <ion-button shape="round" fill="solid" color="dark">-</ion-button>
      </ion-row>
    </ion-col>
    <ion-col size="6" class="column">
     <ion-row class="row-center">
        <ion-button shape="round" fill="solid" color="dark">+</ion-button>
      </ion-row>
      <ion-row class="row-center">
        <ion-label>0</ion-label>
      </ion-row>
      <ion-row class="row-center">
        <ion-button shape="round" fill="solid" color="dark">-</ion-button>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
  <ion-col size="6" class="column">
    <ion-row class="row-center">
      <ion-button shape="round" fill="solid" color="dark" size="default">Time 1</ion-button>
    </ion-row>
    <ion-row class="row-center">
      <ion-label>0</ion-label>
    </ion-row>
  </ion-col>
  <ion-col size="6" class="column">
    <ion-row class="row-center">
      <ion-button shape="round" fill="solid" color="dark" size="default">Time 2</ion-button>
    </ion-row>
    <ion-row class="row-center">
      <ion-label>0</ion-label>
    </ion-row>
  </ion-col>
  </ion-row>
</ion-content>

  <ion-footer>
    <ion-toolbar color="dark">
      <h1 class="ion-text-center">Resetar</h1>
    </ion-toolbar>
  </ion-footer>


